@media(max-width:991px){
    .productView-top {
        flex-direction: column;
    }
    .productView-top .product-image {
        width: 100%;
    }
    .productView-details {
        width: 100%;
    }
}
    
@media(max-width:767px){
    .productView-top .product-image {
        width: 100%;
    }

    .ssiwrap-item-in {
        /* flex-direction: column; */
        align-items: center;
    }
    .ssiw-gift-wrap-in-bottom-top {
        flex-direction: column;    
    }
    .flash-sale{
        gap: 5px;
        flex-direction: column;
    }
     .ssiwrap-item-in {
        gap: 0px;
    }
    .ssiwrap-item-in .ssiw-ii-left{
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }
    .ssi-content{
        align-items: flex-start;
    }
    .sfw-item{
        gap: 10px;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 0;
    }
    /* .ssiw-ii-right{
        width: 100%;
    } */
    .ssirp-discounted-price{
        text-align: end;
    }
    .ssirp-main-price{
        text-align: end;
    }

}